<div class="comWrap">
    <div class="com_back clearfix">
        <a href="javascript:;" id="goback">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <input type="text">
    </div>
    <div class="main">
        <div class="prolist">
            <ul id="stocklist">

            </ul>
            <ol class="stocklist" style="display: none;">
                <li class="clearfix">
                    <div class="fl"><img src="images/prolist1.jpg" alt=""></div>
                    <div class="fl right">
                        <h3><a href="javascript:;">四叶草</a></h3>
                        <p class="price">￥299<span>￥599</span></p>
                        <p class="discount"><span>5.0折</span><em>已售：35</em></p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>