<div class="detailWrap">
    <div class="com_back">
        <a href="javascript:;" id="detailgoback">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <h3>产品详情</h3>
    </div>
    <div class="swiper-container carousel plr20">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/image1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/image2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/image3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/image4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="images/image5.jpg" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-black"></div>
        <div class="swiper-button-next swiper-button-black"></div>
    </div>
    <div class="univalent">
        <div class="price">14.25</div>
        <div class="btn">
            <button type="button" id="univalentDel">－</button><span id="univalentNum">0</span><button type="button" id="univalentAdd">＋</button>
        </div>
    </div>
    <div class="like">
        <h5>三级分销农庄有机毛豆500g</h5>
        <p>富含纤维素，平衡每日膳食</p>
        <span class="glyphicon glyphicon-star-empty pr" id="liked"></span>
    </div>
    <div class="format">
        <p>商品规格</p>
        <ul id="forlist">
            <li class="active"><a href="javascript:;">50ML</a></li>
            <li><a href="javascript:;">100ML</a></li>
            <li><a href="javascript:;">150ML</a></li>
            <li><a href="javascript:;">200ML</a></li>
            <li><a href="javascript:;">250ML</a></li>
        </ul>
    </div>
    <div class="category" id="catelist">
        <a href="javascript:;" class="border-r active">商品简介</a>
        <a href="javascript:;" class="border-r">商品参数</a>
        <a href="javascript:;">订购列表</a>
    </div>
    <div class="proinfoList">
        <img src="images/image4.jpg" alt="">
    </div>
    <div class="proinfoList" style="display: none;">
        暂无信息。。。。
    </div>
    <div class="proinfoList" style="display: none;">
        暂无信息。。。。
    </div>
    <div id="jionCart">
        <span class="glyphicon glyphicon-home"></span>加入购物车
    </div>
</div>
