<div id="homeWrap"></div>
<div class="tabbar" id="Tabbar">
    <div class="item active" id="microShop">
        <a href="javascript:;">
            <span class="glyphicon glyphicon-home"></span>
            <p>微店</p>
        </a>
    </div>
    <div class="item" id="commodity">
        <a href="javascript:;">
            <span class="glyphicon glyphicon-th"></span>
            <p>所有商品</p>
        </a>
    </div>
    <div class="item" id="shopping">
        <a href="javascript:;">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <p>购物车</p>
        </a>
    </div>
    <div class="item" id="mine">
        <a href="javascript:;">
            <span class="glyphicon glyphicon-user"></span>
            <p>我的</p>
        </a>
    </div>
</div>