<div class="micWrap">
    <header>
        <img src="images/head.jpg" alt="">
        <div class="vipWrap clearfix">
            <div class="left"><img src="images/touxiang.jpg" alt=""></div>
            <div class="right">
                <h2>三级分销终身荣誉会员</h2>
                <ul>
                    <li><a href="javascript:;"><string>34</string><p>全部商品</p></a></li>
                    <li><a href="javascript:;"><span class="glyphicon glyphicon-star-empty"></span><p>收藏本店</p></a></li>
                    <li><a href="javascript:;"><span class="glyphicon glyphicon-picture"></span><p>二维码</p></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="main">
        <form class="search clearfix plr20">
            <input type="text" class="fl"><input type="button" value="搜索" class="fr">
        </form>
        <div class="land clearfix plr20">
            <a href="javascript:;" class="fl" id="landId">登陆</a>
            <a href="javascript:;" class="fr" id="registerId">注册</a>
        </div>
        <div class="swiper-container carousel plr20">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/image1.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/image2.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/image3.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/image4.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="images/image5.jpg" alt="">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-black"></div>
            <div class="swiper-button-next swiper-button-black"></div>
        </div>
        <ul class="option plr20 clearfix">
            <li><a href="javascript:;">晋恩干红</a></li>
            <li class="fr"><a href="javascript:;">万能手链</a></li>
            <li><a href="javascript:;">高级手镯</a></li>
            <li class="fr"><a href="javascript:;">特异戒指</a></li>
        </ul>
        <div class="productList">
            <ul class="clearfix">
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
                <li><a href="javascript:;">
                    <img src="images/pro1.jpg" alt="">
                    <p class="name">这是产品名字</p>
                    <p class="price">￥299<span>￥599</span></p>
                </a></li>
            </ul>
        </div>
        <div class="prolist">
            <ul>
                <li class="clearfix">
                    <div class="fl"><img src="images/prolist1.jpg" alt=""></div>
                    <div class="fl right">
                        <h3><a href="javascript:;">四叶草</a></h3>
                        <p class="price">￥299<span>￥599</span></p>
                        <p class="discount"><span>5.0折</span><em>已售：35</em></p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="fl"><img src="images/prolist2.jpg" alt=""></div>
                    <div class="fl right">
                        <h3><a href="javascript:;">四叶草</a></h3>
                        <p class="price">￥299<span>￥599</span></p>
                        <p class="discount"><span>5.0折</span><em>已售：35</em></p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="fl"><img src="images/prolist1.jpg" alt=""></div>
                    <div class="fl right">
                        <h3><a href="javascript:;">四叶草</a></h3>
                        <p class="price">￥299<span>￥599</span></p>
                        <p class="discount"><span>5.0折</span><em>已售：35</em></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="join">
            <img src="images/jrwm.jpg" alt="">
        </div>
        <footer>
            <p>Copyright © <span>这是就是三级分销底部信息</span></p>
        </footer>
    </div>
</div>