<div class="mineWrap">
    <header>
        <div class="name clearfix">
            <div class="pic">
                <img src="images/user01.png" alt="">
            </div>
            <h3>天池不动峰</h3>
        </div>
        <div class="balance clearfix">
            <div class="left">
                <h5>我的余额</h5>
                <p>0.00元</p>
            </div>
            <div class="right">
                <h5>我的积分</h5>
                <p>0</p>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="order">
            <span class="glyphicon glyphicon-list-alt"></span>
            <a href="javascript:;">我的订单</a>
        </div>
        <div class="state">
            <div class="item">
                <a href="javascript:;">
                    <img src="images/user1.png" alt=""><br/>
                    <p>待支付</p>
                </a>
            </div>
            <div class="item">
                <a href="javascript:;">
                    <img src="images/user2.png" alt=""><br/>
                    <p>待发货</p>
                </a>
            </div>
            <div class="item">
                <a href="javascript:;">
                    <img src="images/user3.png" alt=""><br/>
                    <p>待收货</p>
                </a>
            </div>
            <div class="item">
                <a href="javascript:;">
                    <img src="images/user4.png" alt=""><br/>
                    <p>全部订单</p>
                </a>
            </div>
        </div>
        <div class="order">
            <span class="glyphicon glyphicon-usd"></span>
            <a href="javascript:;">我的优惠卷</a>
        </div>
        <div class="order">
            <span class="glyphicon glyphicon-map-marker"></span>
            <a href="javascript:;">收货地址管理</a>
        </div>
        <div class="order">
            <span class="glyphicon glyphicon-star-empty"></span>
            <a href="javascript:;">我的收藏</a>
        </div>
        <div class="order">
            <span class="glyphicon glyphicon-heart"></span>
            <a href="javascript:;">我的浏览记录</a>
        </div>
        <div class="order">
            <span class="glyphicon glyphicon-usd"></span>
            <a href="javascript:;">余额提现</a>
        </div>
    </div>
    <div class="logout">
        <a href="javascript:;">退出登陆</a>
    </div>
</div>