<div class="shopWrap">
    <div class="com_back">
        <a href="javascript:;" id="goback">
            <span class="glyphicon glyphicon-menu-left"></span>
        </a>
        <h3>购物车</h3>
    </div>
    <div class="banner">
        <img src="images/head.jpg" alt="">
    </div>
    <div class="shopCart">
        <p>购物车共有：<em>2</em>件商品</p>
        <div class="right">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
    </div>
    <div class="shoplist">
        <div class="allcheck">
            <input type="checkbox">全选
        </div>
        <div class="list">
            <div class="left">
                <input type="checkbox">
            </div>
            <div class="mid">
                <div class="pic">
                    <img src="images/pro1.jpg" alt="">
                </div>
                <div class="txt">
                    <h3>三级分销农庄有机飘瓜400g</h3>
                    <p>下单时间：2015-08-11 13：51</p>
                </div>
            </div>
            <div class="right">
                <button type="button">－</button><span>0</span><button type="button">＋</button>
            </div>
        </div>
        <div class="total">￥36.60</div>
        <div class="allcheck">
            <input type="checkbox">全部删除
        </div>
    </div>
    <div class="com_back settlement">
        <div class="left">
            <a href="javascript:;" id="botgoback">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>
        </div>
        <div class="mid">总计：<span>￥36.60</span></div>
        <div class="right"><a href="javascript:;">去结算</a></div>
    </div>
</div>